.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: lightgrey;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.home {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.paintings {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.add {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
}

nav:hover {
    background-color: rgba(0,0,0,0.2);
}
